---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Tours';
const description = 'Latest tours.';
const permalink = `${Astro.site.href}tours`;

let allPosts = await Astro.glob('../../data/tours/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="tours">
  <div class="container">
    <h1>Tours</h1>
    {allPosts.map((post, index) => {
      const href = `/tours/${post.file.split('/').pop().split('.').shift()}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <img src={post.frontmatter.image} alt={post.frontmatter.title} />
            <h2>
              <a href={href}>{post.frontmatter.title}</a>
            </h2>
            <p>{post.frontmatter.description}</p>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  a {
    font-size: 1.3em;
  }
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
    color: #fefefe;
  }
  img {
    border-radius: 20px;
  }
</style>


